<hibernate-configuration>
    <session-factory>
        <!-- تنظیمات اتصال به دیتابیس -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:data.db</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>

        <!-- گویش دیتابیس -->
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <!-- تنظیمات اضافی -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- 🔧 این خط رو اضافه کن -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- کلاس‌های Entity -->
        <mapping class="entity.User"/>
        <mapping class="entity.Customer"/>
        <mapping class="entity.Seller"/>
        <mapping class="entity.Courier"/>
        <mapping class="entity.Admin"/>
        <mapping class="entity.Restaurant"/>
        <mapping class="entity.Food"/>
        <mapping class="entity.Order"/>


    </session-factory>
</hibernate-configuration>
